.App {
  position: relative;
  min-height: 100vh; 
  margin: 0;
  padding: 0;
}

Ensure that the footer does not overlap with content
.content {
  padding-bottom: 80px;
}


.ui.tabular.menu .item.active {
  background-color: #252f36; 
  color: white; 
  font-weight: bold; 
}

.clicked {
  animation: pulse 1s ease-in-out;
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}
